<h1>Task of: </h1>
<h3><%= current_user.email %></h3>

<%= render 'form' %>
<% @tweets.each do |tweet| %>
	<div class="well">
    <p><strong><%= tweet.user.email %></strong> <br> <b><i> Task: </i> </b> <%= tweet.content %></p>
    <h5>Task Completed  <%= check_box_tag("tweet_ids[]", tweet.id, tweet.is_completed) %></h5> 
    <p><small><%= tweet.created_at %></small></p>

	</div>
<% end %>

